#app {
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  margin: 1rem;
  padding: 0;
  display: flex;
  gap: 1rem;
}

html.dark {
  color-scheme: dark;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}
