/* Main */
#app {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

html {
  --at-apply: bg-base font-sans;
}
body {
  --at-apply: color-base;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}
